/* 1.select the imege with kitty-1 */
.kitty-1 {
  position: absolute;
  top: 200px;
  left: 140px;
}






/* 2. selects the image with id kitty-2 */
#kitty-2 {
  position: absolute;
  top: 80px; 
  left: 150px;
}

/* 3. selects the image inside the element with id basket */
#basket img {
  position: absolute;
  top: 100px; 
  left: 200px;
}

/* 4. selects the image based on the sibling element (kitty-4 comes after #ball) */
#ball + img {
  position: absolute;
  top: 120px;
  left: 250px;
}

/* 5. selects the image with alt attribute "Kitty 5" */
img[alt="Kitty 5"] {
  position: absolute;
  top: 140px;
  left: 300px;
}




/